{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/styleviews.css' %}">
</head>

<body>
    <div class="container">
        <nav>
            <div class="logo" onclick="window.location.href='/'">Solver</div>
            {% if request.session.logdin %}
                <div class="login" style="margin-left: 30vw"> 
                    <a href="/logout/"><button id="login">Logout</button></a>
                </div>
            {% else %}
                <div class="login"> 
                    <a href="/login/"><button id="login">Login</button></a>
                </div>
            {% endif %}
        </nav>

        <div class="content">
            <div class="left">
                <div class="leftt">
                    <div class="title">{{question.title}}</div>
                    <div class="question">{{question.question}}</div>
                    {% for test in testcase %}
                        <div class="testcases">
                            <div class="example">
                                <p style="font-size: 15px; font-weight: bold; font-family: system-ui;">Example {{forloop.counter}}:- </p>
                            </div>
                            <p style="display: inline-block;">Input: </p> <span>{{test.input}}</span>
                            <br>
                            <p style="display: inline-block;">Output: </p>: <span>{{test.output}}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</body>
<script>

</script>

</html>